$header-padding: 5% 0;
$header-width: 55%;
$header-padding-small: 25% 0;
$header-container-padding: 1% 4%;
$hero-banner-padding: 5% 0;
$hero-banner-div-padding: 6%;
$hero-banner-div-width: 600px;
$container-padding: 3% 0;
$btn-border: 1px solid black;
$btn-background-color: white;
$btn-letter-spacing: 2px;
$btn-padding: 0 4%;
$btn-margin: 0 35%;
$btn-font-weight: 600;
$row-gap: 40px;
$footer-bg-color: black;
$footer-padding: 2%;
$col-gap: 15px;
$footer-row-gap: 20px;
